/* Box
--------------------------------------*/
.box {
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    padding: 25px;
}
.box__header {
    margin-bottom: 15px;
}
.box__title {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #2f3541;
}
.box__desc {
    color: #7f8fa4;
}
.box__body {}
